@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  --offwhite: #fcf5ef;
  --darker: #EA3A57;
  --dark: #EF6136;
  --light: #F2B843;
  --grey: #B1A99E;
  --accent: #4BB0AD;
}

html {
  background-color: var(--offwhite);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--light);
}
a {
  text-decoration: none;
  font-weight: 900;
}
a:active, a:visited {
  color: var(--offwhite)
}
ul, li {
  list-style: none;
}
h3 {
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


header {
  font-family: 'Leckerli One', cursive;
  font-size: 5rem;
  text-align: center;
  color: var(--darker);
}

nav {
  background-color: var(--accent);
  text-align: center;
  font-size: 1.1rem;
  padding: .8rem;
  color: var(--offwhite);
}

nav a {
  color: var(--offwhite);
  text-decoration: none;
  font-weight: 900;
  transition: 0.3s;
  margin: 0 .5rem;
}

nav a:hover {
  color: var(--light);
  letter-spacing: .2rem;
}

/*  ADDFOODITEM */
.AddFoodItemComponent {
  padding-top: 1rem;
}
.addItemForm {
  width: 90%;
  margin: 0 auto;
}
.addItemForm input {
  padding: 1rem;
  font-size: 1.2rem;
  width: 100%;
}
.foodInput {
  overflow: hidden;
  padding-right: .5rem;
}

/*  HOME PAGE */
.homepage {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.homepage button {
  padding: 1rem;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  text-align: center;
  border-radius: 5px;
  color: var(--offwhite);
  font-weight: 900;
}

.homepage .btn1 {
  background-color: var(--accent)
}
.homepage .btn2{
  background-color: var(--darker)
}
.addItemForm button {
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 0px 5px 5px 0px;
  float: right;
  background-color: var(--dark);
  color: var(--offwhite);
}

/*  MY CREDENZA CONTAINER */
.myCredenzaContainer {
  padding-top: 1.5rem;
}


/* LIST CREDENZA */
.listCredenza {
  background-color: var(--dark);
  padding: 0;
}
.emptyCredenza {
  background-color: var(--light);
  text-align: center;
  line-height: 150%;
  padding-top: 2rem;
}

/*  MY CREDENZA ITEM*/
.credenzaItem {
  width: 95%;
}
.credenzaItem ul {
  padding: 1.5rem;
}
.credenzaItem li {
  font-size: 1.3rem;
}

.delete-food {
  float: right;
  background-color: var(--darker);
  color: var(--offwhite);
  font-size: 1rem;
  font-weight: 900;
  padding: .5rem .9rem;
  border-radius: 5px;
  margin-right: .5rem;
}

input[type="checkbox"] {
  width: 1.5rem;
}


/* COUNT BUTTONS  */
.indecresingBtns {
  float: right;
  margin-right: 1rem;

}
.indecresingBtns button {
  font-size: 1.8rem;
  border: 0;
  background-color: transparent;
  padding-top: 0;
  color: var(--offwhite);
  cursor: pointer;
}
.indecresingBtns button:hover {
  color: var(--darker);
}
.indecresingBtns button:focus{
  outline: 0;
}

.howMany {
  font-weight: 700;
  margin-left: .5rem;
}


/*  ABOUT */
.about-page {
  padding: 1rem 1.5rem;
}

/*  FAVES */
.faveList li {
  list-style-type: none;
  line-height: 200%;
}

.faveList ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f005";
  color: var(--accent);
  font-weight: bold;
  font-size: 1.2rem;
  display: inline-block;
  width: 1.5rem;
  margin-left: .1em;
}

/*  PAGE NOT FOUND*/
.notFound {
  padding: 1rem;
  text-align: center;
  min-height: 100vh;
  background-color: var(--light)
}
.notFound p {
  font-size: 1.5rem;
  line-height: 200%;
}
#egg404 {
  padding-top: 2rem;
  width: 70%;
}
